.btn {
    cursor: pointer;
    border-radius: rem(10);
    border: none;
    text-transform: capitalize;
    padding: rem(6) 1rem;
    font-weight: 700;
    font-size: rem(13);
    line-height: rem(19);
    color: var(--btn-text);

    &--padded {
        padding: 0.65625rem 1.0625rem;
    }

    &--violet {
        background-color: var(--violet);
        &:hover,
        &:focus {
            background-color: var(--violet-hover);
        }
    }
    &--blue {
        background-color: var(--blue);
        &:hover,
        &:focus {
            background-color: var(--blue-hover);
        }
    }
    &--filter {
        background-color: var(--lt-gray-blue);
        color: var(--blue);
        font-size: rem(13);
        line-height: rem(19);
        &:hover,
        &:focus {
            background-color: var(--lt-gray-blue-hover);
        }

        &.upvoted {
            color: var(--lt-gray-blue);
            background-color: var(--blue);

            path {
                stroke: var(--lt-gray-blue);
            }
        }
    }

    &--red {
        background-color: var(--red);
        &:hover,
        &:focus {
            background-color: var(--red-hover);
        }
    }
    &--dk-gray {
        background-color: var(--dk-gray-blue-2);
        &:hover,
        &:focus {
            background-color: var(--dk-gray-blue-2-hover);
        }
    }

    &--link {
        background-color: transparent;
        color: var(--blue);
        text-decoration: underline;
        font-weight: 600;
        font-size: rem(13);
        line-height: 19px;
    }

    &--clear {
        background-color: transparent;
    }
}
