*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header-height: 4.5rem;
    --avatar-height: 2.5rem;

    --violet: hsla(282, 83%, 52%, 1);
    --violet-hover: hsla(282, 90%, 66%, 1);
    --blue: hsla(230, 76%, 59%, 1);
    --blue-hover: hsla(230, 91%, 73%, 1);
    --dk-gray-blue: hsla(230, 31%, 31%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --lt-gray-blue: hsla(231, 100%, 97%, 1);
    --lt-gray-blue-hover: hsl(230, 100%, 91%);
    --vr-lt-gray-blue: hsla(230, 60%, 98%, 1);
    --dk-gray-blue-2: hsla(231, 33%, 34%, 1);
    --dk-gray-blue-2-hover: hsl(230, 100%, 91%);
    --gray-blue: hsla(224, 20%, 49%, 1);
    --gray-blue-25: hsla(224, 20%, 49%, 0.25);
    --gray-blue-1: hsla(224, 20%, 49%, 0.1);
    --peach: hsla(14, 83%, 74%, 1);
    --lt-blue: hsla(204, 94%, 68%, 1);
    --red: hsla(0, 67%, 53%, 1);
    --red-hover: hsla(0, 69%, 72%, 1);
    --btn-text: hsla(230, 86%, 97%, 1);
    --btn-text-75: hsla(230, 86%, 97%, 0.75);
    --input-bg: hsla(230, 60%, 98%, 1);
}

html {
    font-size: 100%;
    font-family: "Jost", sans-serif;
}
body {
    min-height: 100vh;
    background-color: var(--lt-gray-blue);
}

h2,
h3,
h4,
h5,
h6 {
    color: var(--dk-gray-blue-2);
}

ul {
    list-style: none;
}

img {
    vertical-align: middle;
}

main {
    position: relative;
    display: block;
    min-height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);

    &.navIsOpen {
        &::after {
            content: "";
            position: fixed;
            inset: 0;
            background-color: rgba(0, 0, 0, 0.5);
            max-height: 100%;
        }
    }
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    outline: 1px solid var(--blue);
}
