@media screen and (min-width: 689px) {
    :root {
        --header-height: 1.5rem;
    }

    .container--main {
        padding: 0;
    }
    .sortbar {
        border-radius: rem(10);
        inset: auto;
        position: relative;
        &__icon {
            display: inline-block;
        }
        &__suggestions {
            display: inline-block;
        }
    }
    .header {
        --gap: 0.625rem;
        &--mobile {
            display: none;
        }
        &--large {
            display: flex;
        }
    }
    .sidebar {
        position: relative;
        padding: 0;
        flex-direction: row;

        &__card {
            height: 100%;
            &--filter {
                padding: rem(24) rem(18) rem(36) rem(24);
            }
        }
    }
    .suggestions {
        padding-top: rem(24);
        &__card:where(:not(.roadmap__card)) {
            padding: rem(28) rem(32);
            grid-template-columns: 60px repeat(4, auto);
            grid-template-areas:
                "upvotes desc desc desc empty"
                "upvotes desc desc desc comments"
                "nothing category null null null";
        }
        &__upvotes:where(:not(.suggestions__upvotes--roadmap)) {
            flex-direction: column;
            width: rem(40);
            height: auto;
            padding: rem(14) rem(8) rem(8);
            gap: 0.5rem;
            max-width: none;
        }
    }
    .h1 {
        position: absolute;
        bottom: rem(24);
        margin: 0;
    }
    .feedback {
        &__form {
            &--reply {
                display: flex;
                align-items: flex-start;
                gap: 1rem;
                padding-left: var(--left-padding);

                & > * {
                    margin-top: 0;
                }
            }
        }

        &__comments {
            --left-padding: 4.5rem;
        }

        &__replies-container {
            margin-left: calc(var(--avatar-height) / 2);
        }

        &__reply {
            padding-left: calc(var(--left-padding) - var(--avatar-height));
        }

        &__content {
            padding-left: var(--left-padding);
        }
    }
    .addFeedback {
        &__form {
            &-btns {
                flex-direction: row-reverse;
            }

            &-btn--delete {
                margin-right: auto;
            }
        }
    }
    .roadmap {
        &__header {
            border-radius: rem(10);
            margin-top: clamp(rem(56), 5vw, rem(78));
        }
        &__grid {
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: 1fr;
            gap: clamp(0.625rem, calc(-0.8036rem + 2.9762vw), 1.875rem);
            position: static;
        }
        &__article {
            padding: 0;
            height: 100%;
        }
        &__radios {
            display: none;
        }
        &__card {
            height: rem(325);
        }
    }
    .btn {
        &--padded {
            padding: rem(12.5) rem(24);
        }
    }
    .user {
        gap: rem(32);
    }
    .hasReplies {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            border-left: 1px solid var(--gray-blue-1);
            height: calc(100% + 1.5rem);
            left: calc(var(--avatar-height) / 2);
        }
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --header-height: 5.875rem;
    }
    body {
        &.onMainPage {
            display: flex;
            margin-inline: auto;
            justify-content: center;
            gap: rem(30);
        }
    }
    .header {
        flex-direction: column;
        width: fit-content;
        margin: var(--header-height) 0 0;
        height: rem(529);
        gap: rem(24);
    }
    .sidebar {
        flex-direction: column;
        gap: rem(24);

        &__card {
            width: rem(255);
            padding: 19px 24px 24px;
            &--filter {
                padding-top: rem(24);
            }
        }
    }
    .roadmap {
        &__card {
            height: auto;
        }
    }
}
