.suggestions {
    margin-inline: auto;
    font-size: rem(13);
    line-height: rem(19);
    letter-spacing: rem(-0.18);
    padding-top: 2rem;
    width: clamp(rem(327), 90vw, rem(825));
    margin-bottom: clamp(3.4375rem, calc(1.809rem + 6.9484vw), 8.0625rem);

    &__card {
        background-color: white;
        margin-bottom: clamp(1rem, calc(0.7143rem + 0.5952vw), 1.25rem);
        padding: rem(24);
        border-radius: rem(10);
        display: grid;
        gap: 1rem;
        grid-template-areas:
            "desc desc desc"
            "desc desc desc"
            "category empty empty"
            "upvotes nothing comments";
        cursor: pointer;
        &:hover {
            .suggestions__title {
                color: var(--blue);
            }
        }

        &.roadmap__card {
            grid-template-areas:
                "status rien rien"
                "desc desc desc"
                "desc desc desc"
                "category empty empty"
                "upvotes nothing comments";
        }
    }

    &__text {
        grid-area: desc;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        letter-spacing: clamp(rem(-0.18), -0.04vw, rem(-0.25));
        color: var(--dk-gray-blue-2);
    }
    &__description {
        font-weight: 400;
        color: var(--gray-blue);
        letter-spacing: initial;
    }
    &__comments {
        display: flex;
        width: rem(40);
        align-items: center;
        vertical-align: middle;
        justify-content: space-between;
        font-weight: 700;
        grid-area: comments;
        line-height: inherit;
        justify-self: flex-end;
        align-self: center;
        text-align: center;
        letter-spacing: -0.222222px;
    }
    &__upvotes {
        display: flex;
        align-items: center;
        align-self: center;
        gap: rem(10);
        grid-area: upvotes;
        max-width: fit-content;
        height: 2rem;
        letter-spacing: rem(-0.180556);
        color: var(--dk-gray-blue-2);
    }
    &__category {
        display: block;
        grid-area: category;
        align-self: flex-end;
        margin-top: rem(-8);
        max-width: fit-content;
    }

    &__empty {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: rem(10);
        padding-inline: clamp(rem(25), 18vw, rem(206));
        padding-block: clamp(rem(76), 14vw, rem(110));

        &-container {
            width: clamp(rem(278), 20vw, rem(410));
            height: clamp(rem(308), 30vw, rem(379));
            text-align: center;
        }
        &-img {
            margin-bottom: rem(39);
        }

        &--title {
            font-size: rem(18);
            line-height: rem(26);
            letter-spacing: rem(-0.25);
            margin-bottom: rem(14);
            color: var(--dk-gray-blue-2);
        }
        &--para {
            font-size: rem(13);
            line-height: rem(19);
            color: var(--gray-blue);
            margin-bottom: rem(24);
        }
    }
}

.sortbar {
    display: flex;
    position: fixed;
    inset: var(--header-height) 0 auto 0;
    background-color: var(--dk-gray-blue-2);
    padding: rem(14) rem(16) rem(14) rem(24);
    gap: rem(38);
    justify-content: space-between;
    align-items: center;
    color: var(--btn-text);

    &__icon {
        display: none;
    }
    &__suggestions {
        display: none;
        text-transform: capitalize;
        font-weight: bold;
        font-size: rem(18);
        line-height: rem(26);
        letter-spacing: rem(-0.25);
        color: #ffffff;
    }

    &__menu {
        &-arrow {
            transition: transform 200ms ease-in;
            path {
                stroke: var(--btn-text);
            }
            &.menuIsOpen {
                transform: rotate(180deg);
            }
        }

        &-toggle {
            background-color: transparent;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-weight: 400;
            line-height: rem(19);
            padding: 0;
            width: rem(160);
            z-index: 1000;

            &:hover {
                color: var(--btn-text-75);
            }
        }
    }
    &__option {
        font-weight: 600;
    }

    &__add {
        margin-left: auto;
    }

    &__list {
        position: absolute;
        width: rem(255);
        border-radius: rem(10);
        top: rem(58);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: -1;
        box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);

        &-item {
            background-color: #ffffff;
            &:not(:last-of-type) {
                border-bottom: 1px solid var(--btn-text);
            }
            &.selected {
                .sortbar__check {
                    opacity: 1;
                }
            }
        }

        &-btn {
            color: hsla(224, 20%, 49%, 1);
            width: 100%;
            height: 100%;
            font-weight: normal;
            font-size: 1rem;
            line-height: rem(23);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: rem(12) rem(24);

            &:hover {
                color: var(--violet);
            }
        }
    }
    &__check {
        opacity: 0;
    }
}
