.error {
    outline: 1px solid var(--red);

    &-message {
    display: none;
    font-size: rem(14);
    line-height: rem(20);
    color: var(--red);
    margin-top: rem(-20);

    &::first-letter{
        text-transform: capitalize;
    }
}
    & + .error-message{
        display: block;
    }
}

.container {
    margin-inline: auto;

    &--main {
        width: clamp(rem(375), 90vw, rem(825));
    }
    &--roadmap {
        width: clamp(rem(689), 90vw, rem(1110));
        max-width: 100%;
    }

    &--header {
        width: clamp(rem(375), 90vw, rem(825));
    }
    &--narrow {
        width: clamp(20.4375rem, 90vw, 51.5625rem);
    }
    &--narrow-xs {
        width: clamp(20.4375rem, 90vw, 33.75rem);
    }
    &--narrow-sm {
        width: clamp(20.4375rem, 90vw, 45.625rem);
    }
}
