.error {
    outline: 1px solid var(--red);

    &-message {
        display: none;
        font-size: rem(14);
        line-height: rem(20);
        color: var(--red);
        margin-top: rem(-20);

        &::first-letter {
            text-transform: capitalize;
        }
    }
    & + .error-message {
        display: block;
    }
}

.container {
    margin-inline: auto;

    &--main {
        width: clamp(rem(375), 90vw, rem(825));
        padding-top: var(--header-height);
    }
    &--roadmap {
        width: clamp(rem(689), 90vw, rem(1110));
        max-width: 100%;
    }

    &--header {
        width: clamp(rem(375), 90vw, rem(825));
    }
    &--narrow {
        width: clamp(20.4375rem, 90vw, 51.5625rem);
    }
    &--narrow-xs {
        width: clamp(20.4375rem, 90vw, 33.75rem);
    }
    &--narrow-sm {
        width: clamp(20.4375rem, 90vw, 45.625rem);
    }
}

.fs-13 {
    font-size: rem(13);
}
.fs-13-15 {
    font-size: clamp(0.8125rem, calc(0.6932rem + 0.5089vw), 0.9375rem);
}

.fs-13-16 {
    font-size: clamp(0.8125rem, calc(0.5982rem + 0.4464vw), 1rem);
}
.fs-13-18 {
    font-size: clamp(rem(13), 2vw, rem(18));
}
.fs-18 {
    font-size: rem(18);
}

.lh-19 {
    line-height: rem(19);
}
.lh-19-23 {
    line-height: clamp(rem(19), 3vw, rem(23));
}
.lh-19-26 {
    line-height: clamp(rem(19), 3vw, rem(26));
}
.lh-19-22 {
    line-height: clamp(1.1875rem, calc(1.0086rem + 0.7634vw), 1.375rem);
}
.lh-26 {
    line-height: rem(26);
}
